// src/styles/_variables.scss
$primary-color: #2A2A2A;
$secondary-color: #DAA520;
$accent-color: #8B0000;
$background-color: #000000;
$text-color: #DAA520;

$title-font: 'Cinzel', serif;
$body-font: 'Roboto', sans-serif;